
    <footer
      class="bg-black text-white min-h-screen relative flex flex-col items-center sm:flex-row sm:items-start sm:justify-around sm:min-h-[50vh] gap-4 p-4 pt-4"
    >
      <div class="flex flex-col gap-4 text-center">
        <div>
          <h1 class="text-green-400">Saksham Sinha</h1>
          <p>General Secretary</p>
          <p>+91 7033269472</p>
          <p>sakshamsinha2235@gmail.com</p>
        </div>
        <div>
          <h1 class="text-green-400">Vishakha Priya</h1>
          <p>General Secretary</p>
          <p>+91 9060560310</p>
          <p>vishakhapriya@gmail.com</p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h1 class="text-green-400 font-semibold text-lg">Quick Links</h1>
        <a href="/">Home</a>
        <a href="">About Us</a>
        <a href="/themes">Themes</a>
        <a href="">Gallery</a>
        <a href="/login">Login</a>
      </div>
      <div class="flex flex-col gap-4">
        <h1 class="text-green-400 font-semibold text-lg">Useful Links</h1>
        <a href="/previous">Previous YIP</a>
        <a href="">Testimonials</a>
        <a href="">Rule Book</a>
      </div>
      <div class="flex flex-col gap-4">
        <h1 class="text-green-400 font-semibold text-lg">Follow Us</h1>
        <div class="icons flex gap-2">
          <a href="https://www.facebook.com/sbrciitkgp" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0,0,256,256"
            >
              <g
                fill="#0fa93d"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M12,2c-5.523,0 -10,4.477 -10,10c0,5.013 3.693,9.153 8.505,9.876v-7.226h-2.474v-2.629h2.474v-1.749c0,-2.896 1.411,-4.167 3.818,-4.167c1.153,0 1.762,0.085 2.051,0.124v2.294h-1.642c-1.022,0 -1.379,0.969 -1.379,2.061v1.437h2.995l-0.406,2.629h-2.588v7.247c4.881,-0.661 8.646,-4.835 8.646,-9.897c0,-5.523 -4.477,-10 -10,-10z"
                  ></path>
                </g>
              </g></svg
          ></a>
          <a href="https://www.instagram.com/sbrc.iitkgp" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0,0,256,256"
            >
              <g
                fill="#0fa93d"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M8,3c-2.761,0 -5,2.239 -5,5v8c0,2.761 2.239,5 5,5h8c2.761,0 5,-2.239 5,-5v-8c0,-2.761 -2.239,-5 -5,-5zM18,5c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1zM12,7c2.761,0 5,2.239 5,5c0,2.761 -2.239,5 -5,5c-2.761,0 -5,-2.239 -5,-5c0,-2.761 2.239,-5 5,-5zM12,9c-1.65685,0 -3,1.34315 -3,3c0,1.65685 1.34315,3 3,3c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3z"
                  ></path>
                </g>
              </g></svg
          ></a>
          <a
            href="https://www.linkedin.com/company/brandingandrelationscell/?originalSubdomain=in"
            target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0,0,256,256"
            >
              <g
                fill="#0fa93d"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(10.66667,10.66667)">
                  <path
                    d="M21.80078,0h-19.60156c-1.19922,0 -2.19922,1 -2.19922,2.19922v19.60156c0,1.19922 1,2.19922 2.19922,2.19922h19.60156c1.19922,0 2.19922,-1 2.19922,-2.19922v-19.60156c0,-1.19922 -1,-2.19922 -2.19922,-2.19922zM7,20h-4v-11h4zM5,7.69922c-1.19922,0 -2,-0.80078 -2,-1.80078c0,-1.09766 0.80078,-1.89844 2,-1.89844c1.19922,0 2,0.80078 2,1.80078c0,1.09766 -0.80078,1.89844 -2,1.89844zM21,20h-4v-6c0,-1.60156 -1.10156,-2 -1.39844,-2c-0.30078,0 -1.60156,0.19922 -1.60156,2c0,0.19922 0,6 0,6h-4v-11h4v1.60156c0.60156,-0.90234 1.60156,-1.60156 3.5,-1.60156c1.89844,0 3.5,1.5 3.5,5z"
                  ></path>
                </g>
              </g></svg
          ></a>
        </div>
        <h1 class="text-green-400 font-semibold text-lg">Mail Us</h1>
        <p>barc@iitkgp.ac.in</p>
      </div>
      <div class="absolute bottom-0 text-sm text-green-400 "><h1>Copyright © 2024 Young Innovators Program. All rights reserved.</h1></div>
    </footer>