<footer class="bg-black text-white py-10 px-6 sm:px-16">
  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-8 max-w-7xl mx-auto">

    <!-- Contacts -->
    <div class="flex flex-col gap-6 text-center sm:text-left">
      <div>
        <h2 class="text-green-400 font-bold text-lg">Saksham Sinha</h2>
        <p>General Secretary</p>
        <p>+91 7033269472</p>
        <p>sakshamsinha2235@gmail.com</p>
      </div>
      <div>
        <h2 class="text-green-400 font-bold text-lg">Vishakha Priya</h2>
        <p>General Secretary</p>
        <p>+91 9060560310</p>
        <p>vishakhapriya@gmail.com</p>
      </div>
    </div>

    <!-- Quick Links -->
    <div class="flex flex-col gap-4 text-center sm:text-left">
      <h2 class="text-green-400 font-semibold text-lg">Quick Links</h2>
      <a href="/" class="hover:text-green-400 transition">Home</a>
      <a href="#" class="hover:text-green-400 transition">About Us</a>
      <a href="/themes" class="hover:text-green-400 transition">Themes</a>
      <a href="#" class="hover:text-green-400 transition">Gallery</a>
      <a href="/login" class="hover:text-green-400 transition">Login</a>
    </div>

    <!-- Useful Links -->
    <div class="flex flex-col gap-4 text-center sm:text-left">
      <h2 class="text-green-400 font-semibold text-lg">Useful Links</h2>
      <a href="/previous" class="hover:text-green-400 transition">Previous YIP</a>
      <a href="#" class="hover:text-green-400 transition">Testimonials</a>
      <a href="#" class="hover:text-green-400 transition">Rule Book</a>
    </div>

    <!-- Social & Mail -->
    <div class="flex flex-col gap-6 text-center sm:text-left">
      <h2 class="text-green-400 font-semibold text-lg">Follow Us</h2>
      <div class="flex justify-center sm:justify-start gap-4">
        <a href="https://www.facebook.com/sbrciitkgp" target="_blank" class="hover:text-green-400 transition">
          <!-- Facebook SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" fill="#0fa93d">
            <g transform="scale(10.66667,10.66667)">
              <path d="M12,2c-5.523,0 -10,4.477 -10,10c0,5.013 3.693,9.153 8.505,9.876v-7.226h-2.474v-2.629h2.474v-1.749c0,-2.896 1.411,-4.167 3.818,-4.167c1.153,0 1.762,0.085 2.051,0.124v2.294h-1.642c-1.022,0 -1.379,0.969 -1.379,2.061v1.437h2.995l-0.406,2.629h-2.588v7.247c4.881,-0.661 8.646,-4.835 8.646,-9.897c0,-5.523 -4.477,-10 -10,-10z"/>
            </g>
          </svg>
        </a>
        <a href="https://www.instagram.com/sbrc.iitkgp" target="_blank" class="hover:text-green-400 transition">
          <!-- Instagram SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" fill="#0fa93d">
            <g transform="scale(10.66667,10.66667)">
              <path d="M8,3c-2.761,0 -5,2.239 -5,5v8c0,2.761 2.239,5 5,5h8c2.761,0 5,-2.239 5,-5v-8c0,-2.761 -2.239,-5 -5,-5zM18,5c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1zM12,7c2.761,0 5,2.239 5,5c0,2.761 -2.239,5 -5,5c-2.761,0 -5,-2.239 -5,-5c0,-2.761 2.239,-5 5,-5zM12,9c-1.657,0 -3,1.343 -3,3c0,1.657 1.343,3 3,3c1.657,0 3,-1.343 3,-3c0,-1.657 -1.343,-3 -3,-3z"/>
            </g>
          </svg>
        </a>
        <a href="https://www.linkedin.com/company/brandingandrelationscell/?originalSubdomain=in" target="_blank" class="hover:text-green-400 transition">
          <!-- LinkedIn SVG -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256" fill="#0fa93d">
            <g transform="scale(10.66667,10.66667)">
              <path d="M21.8,0h-19.6c-1.199,0 -2.199,1 -2.199,2.199v19.602c0,1.199 1,2.199 2.199,2.199h19.6c1.199,0 2.199,-1 2.199,-2.199v-19.602c0,-1.199 -1,-2.199 -2.199,-2.199zM7,20h-4v-11h4zM5,7.699c-1.199,0 -2,-0.801 -2,-1.801c0,-1.098 0.801,-1.898 2,-1.898c1.199,0 2,0.801 2,1.801c0,1.098 -0.801,1.898 -2,1.898zM21,20h-4v-6c0,-1.602 -1.102,-2 -1.398,-2c-0.301,0 -1.602,0
