<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>YIP-26</title>
</head>
<body>
    <nav
      class="flex top-0 z-50 justify-between items-center p-4 bg-gray-700 max-w-screen"
    >
      <%- include('partials/navbar') %>
    </nav>
</body>
</html>