<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Sign Up</title>
</head>
<body>
    <div class="bg-red-200 w-1 flex relative">
        <div class="min-w-[8vw] bg-white"></div>
        <div class="absolute text-black  text-xl my-2 mx-[6vw]">scatch</div>
        <div class="left bg-blue-200 min-h-[100vh] min-w-[40vw]  flex flex-col items-center justify-center">
            <div class="w-1/2 ">
                <h1 class="text-3xl text-white">Welcome to <span class="text-blue-400 font-bold">Scatch</span></h1>
                <h3 class="text-xl  m-2">create your account</h3>
            </div>
            <div class=" w-1/2">
                <form action="/user/create" class=" flex flex-col" method="POST">
                    <input type="text" placeholder="Full Name" class="bg-white w-3/4 rounded-md m-2 p-2" name="name">
                    <input type="email" placeholder="Email" class="bg-white w-3/4 rounded-md m-2 p-2" name="email">
                    <input type="password" placeholder="Password" class="bg-white w-3/4 rounded-md m-2 p-2" name="password">
                    <input type="submit" name="" id="" value="create my account" class="m-2 bg-blue-600 px-4 py-1 rounded-2xl cursor-pointer text-white self-start">
                </form>
            </div>
            <div></div>
        </div>
        <div class="or min-h-[100vh] min-w-[8vw] flex flex-col justify-center">
            <div class="bg-blue-400 m-2 rounded-4xl text-center p-2 text-white max-w-1/2"><h1>OR</h1></div>
        </div>
        <div class="right bg-white min-h-[100vh] min-w-[44vw] flex flex-col  justify-center">
            <div class="m-2">
                <h1>Login to your account</h1>
            </div>
            <div >
                <form action="/user/login" class="flex flex-col" method="post">
                    <input type="email" class="bg-gray-200 m-2 px-2 py-1 rounded-lg w-1/2" placeholder="Email" >
                    <input type="password" class="bg-gray-200 m-2 px-2 py-1 rounded-lg w-1/2" placeholder="Password" >
                    <input type="submit" class="bg-blue-500 text-white m-2 px-2 py-1 rounded-xl w-[80px] cursor-pointer" value="Login" >
                </form>
            </div>
        </div>
    </div>
</body>
</html>