<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>User panel</title>
</head>

<body class="min-h-screen bg-gray-200 text-gray-900">

  <nav class="sticky top-0 z-50 flex justify-between items-center p-3 bg-gray-800 shadow">
    <%- include('partials/navbar') %>
  </nav>
  <section class="flex flex-col md:flex-row h-full">
    <div class="leftside md:block hidden md:w-1/3 bg-gray-900 min-h-screen ">
      <nav class="space-y-3 p-3 text-sm font-medium bg-gray-900 h-full text-white">
        <h2 class="text-2xl font-bold mb-6">Teams</h2>
        <a href="/userpanel" class="block p-2 px-3 rounded hover:bg-gray-700 transition">Dashboard</a>
        <a href="/userpanel/team" class="block p-2 px-3 rounded hover:bg-gray-700 transition">My Team</a>
        <a href="/userpanel/team" class="block p-2 px-3 rounded hover:bg-gray-700 transition">Itenary</a>
        <a href="/userpanel/team" class="block p-2 px-3 rounded hover:bg-gray-700 transition">Your POC</a>
        <a href="/userpanel/notice" class="block p-2 px-3 rounded hover:bg-gray-700 transition"> Notices</a>
        <a href="userpanel/result" class=" px-3 block p-2 rounded hover:bg-gray-700 transition"> Result</a>
      </nav>

    </div>
    <div class="mid md:m-4 pb-1 rounded-lg p-4 bg-white min-h-screen w-full ">
      <div>
        
        <h1 class=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate eveniet architecto
          fugit dolore
          assumenda magni odit, expedita molestias porro accusantium beatae dicta blanditiis quisquam sequi, praesentium
          nam debitis soluta vitae amet corrupti sit aperiam accusamus dignissimos. Dolorem, fugit vero.</h1>
        <h1 class="text-2xl font-bold ">
          WELCOME TEAM : <%= user.TeamName %>
        </h1>
      </div>

      <br>
      <a href="/userpanel/Participants">
        <div class="bg-blue-500 text-white px-3 py-1 w-1/2 text-center rounded hover:bg-red-400 transition">
          <button>Add Your Participants</button>
        </div>
      </a>
      <div>
  
  </section>
  <div class="footer">
    <%- include('partials/footer') %>
  </div>

  <script src="/JS/userpanel.js"></script>
</body>

</html>