<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-800">
   <div class="h-screen flex justify-center items-center">
        <form class="flex flex-col gap-3 items-center" action="/admin/create" method="post">
            <input type="text" name="Name" id="" class="rounded-md bg-slate-700 px-3 py-2 outline-none text-white w-[350px]" placeholder="Enter Your Id">
            <input type="password" name="Password" id=" " class="rounded-md bg-slate-700 px-3 py-2 outline-none text-white w-[350px]" placeholder="Enter Your Password">
            <input type="submit" value="Login" class="bg-red-700 text-white px-2 py-1 rounded-md cursor-pointer w-[60px]">
        </form>
   </div>
</body>
</html>