<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <nav class="sticky top-0 z-50 flex justify-between items-center p-3 bg-gray-800 shadow">
      <%- include('partials/navbar') %>
    </nav>
   
  </section>
  <div class="footer">
    <%- include('partials/footer') %>
  </div>
</body>
</html>