<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div>
        <div class="bg-gray-900">
            <section class="z-10 flex items-center justify-center min-h-screen">
                <div
                    class="w-full max-w-2xl bg-white/20 backdrop-blur-md border border-white/20 rounded-2xl shadow-2xl p-10">
                    <div class="text-center mb-8">
                        <h1 class="text-4xl font-bold text-black drop-shadow-md">
                            Add the details of the Team
                        </h1>
                    </div>

                    <form action="/team/participants/" method="POST" id="participantsform"
                        class="space-y-4 flex flex-wrap justify-center items-center">
                        <h3 class="text-lg text-gray-300 mt-2">Participant 1</h3>
                        <div class=" w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <input type="text" placeholder="Participant Name" name="participantName"
                                class="bg-white/10 text-black placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />
                            <input type="email" placeholder="Participant Email" name="participantemail"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />

                            <input type="tel" placeholder="Participant phoneNo." name="participantPhone"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />
                            <input type="number" placeholder="Participant Grade" name="grade"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />

                        </div>
                        <h3 class="text-lg text-gray-300 mt-2">Participant 2</h3>

                        <div class=" w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <input type="text" placeholder="Participant Name" name="participantName"
                                class="bg-white/10 text-black placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />
                            <input type="email" placeholder="Participant Email" name="participantemail"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />

                            <input type="tel" placeholder="Participant phoneNo." name="participantPhone"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />
                            <input type="number" placeholder="Participant Grade" name="grade"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition"
                                required="true" />

                        </div>
                        <h3 class="text-lg text-gray-300 mt-2">Participant 3</h3>

                        <div class=" w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <input type="text" placeholder="Participant Name" name="participantName"
                                class="bg-white/10 text-black placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition" />
                            <input type="email" placeholder="Participant Email" name="participantemail"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition" />

                            <input type="tel" placeholder="Participant phoneNo." name="participantPhone"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition" />
                            <input type="number" placeholder="Participant Grade" name="grade"
                                class="bg-white/10 text-white placeholder-gray-300 px-4 py-2 rounded-md w-full outline-none border border-white/20 focus:ring-2 focus:ring-blue-400 transition" />

                        </div>


                        <div class="flex flex-col items-center gap-2 pt-4">
                            <button type="submit"
                                class="w-[180px] bg-blue-600 hover:bg-blue-700 transition duration-200 px-4 py-2 rounded-full text-white font-semibold">
                                Submit Details
                            </button>
                            <h3 class="text-lg text-gray-300 mt-2">To participate in the Yip, 2 participants are
                                mandatory</h3>


                        </div>
                    </form>
                </div>
            </section>

        </div>

    </div>
</body>

</html>